.light-text-emphasis{
    color: #FFFFFF;
    opacity: 0.87;    
}
.light-text{
    color: #FFFFFF;
    opacity: 0.6; 
}
.nav-bg-color{
    background-color: #36393E;
}

footer{
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    padding-top: 8px;
    background-color: #36393E;
}
.footer{
    margin-top: 50px;
}

.social-media-links {
		overflow: hidden;
		padding-bottom: 4px;
		text-align: center;
}
.social-ul {
    margin: 0;
    padding: 0;
}
.social-li {
    display: inline;
    margin: 0;
    padding-right: 10px;
}
.social-img {
    width: 35px;
    height: 35px;
}

a {
    color: #BB86FC;
}

a:hover {
    color: #BB86FC;
}

.main-body {
    font-size: 20px;
}

.in-middle {
    width:100%;
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
}
